<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-cart-items.css' | asset_url }}" media="print" onload="this.media='all'">
{%- if settings.predictive_search_enabled -%}
    <link rel="stylesheet" href="{{ 'component-price.css' | asset_url }}" media="print" onload="this.media='all'">
    <link rel="stylesheet" href="{{ 'component-loading-overlay.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}</noscript>

<style>
    header-drawer {
        justify-self: start;
    }

    @media screen and (min-width: 992px) {
        header-drawer {
            display: none;
        }
    }

    .menu-drawer-container {
        display: flex;
    }

    .list-menu {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .list-menu--inline {
        display: inline-flex;
        flex-wrap: wrap;
    }

    summary.list-menu__item {
        padding-right: 2.7rem;
    }

    .list-menu__item {
        display: flex;
        align-items: center;
        line-height: calc(1 + 0.3 / var(--font-body-scale));
    }

    .list-menu__item--link {
        text-decoration: none;
        padding-bottom: 1rem;
        padding-top: 1rem;
        line-height: calc(1 + 0.8 / var(--font-body-scale));
    }

    @media screen and (min-width: 750px) {
        .list-menu__item--link {
            padding-bottom: 0.5rem;
            padding-top: 0.5rem;
        }
    }
</style>

<script src="{{ 'details-disclosure.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'details-modal.js' | asset_url }}" defer="defer"></script>


<svg xmlns="http://www.w3.org/2000/svg" class="hidden">
    <symbol id="icon-search" viewbox="0 0 18 19" fill="none">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M11.03 11.68A5.784 5.784 0 112.85 3.5a5.784 5.784 0 018.18 8.18zm.26 1.12a6.78 6.78 0 11.72-.7l5.4 5.4a.5.5 0 11-.71.7l-5.41-5.4z" fill="currentColor"/>
    </symbol>

    <symbol id="icon-close" class="icon icon-close" fill="none" viewBox="0 0 18 17">
        <path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor">
    </symbol>
</svg>



<{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %} class="header-wrapper">
    <header class="header container header--middle-left page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}">
        <div class="header__top">
            {%- if section.settings.menu != blank -%}
                <header-drawer data-breakpoint="tablet">
                    <details id="Details-menu-drawer-container" class="menu-drawer-container">
                        <summary class="header__icon header__icon--menu header__icon--summary link focus-inset" aria-label="{{ 'sections.header.menu' | t }}">
                          <span class="header__icon-position">
                              <svg class="icon icon-hamburger" width="30" height="20" viewBox="0 0 30 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20 20H0V18H20V20ZM30 11H0V9H30V11ZM20 2H0V0H20V2Z" fill="black"/>
                              </svg>
                            {% render 'icon-close' %}
                          </span>
                        </summary>
                        <div id="menu-drawer" class="menu-drawer motion-reduce" tabindex="-1">
                            <div class="menu-drawer__inner-container">
                                <div class="menu-drawer__navigation-container">
                                    <nav class="menu-drawer__navigation">
                                        <ul class="menu-drawer__menu list-menu first" role="list">
                                            {%- for link in section.settings.menu.links -%}
                                                <li>
                                                    {%- if link.links != blank -%}
                                                        <details class="menu-drawer__custom-item menu-opening"  open>
                                                            <summary class="menu-drawer__menu-item list-menu__item link link--text {% if link.child_active %} menu-drawer__menu-item--active{% endif %}">
                                                                {{ link.title | escape }}
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="5" viewBox="0 0 8 5" fill="none">
                                                                    <path d="M0.70999 1.71L3.29999 4.3C3.68999 4.69 4.31999 4.69 4.70999 4.3L7.29999 1.71C7.92999 1.08 7.47999 0 6.58999 0L1.40999 0C0.51999 0 0.0799904 1.08 0.70999 1.71Z" fill="#454545"/>
                                                                </svg>
                                                            </summary>
                                                            <div class="menu-drawer__inner-subnav">
                                                                <ul class="menu-drawer__menu list-menu dropdown" role="list">
                                                                    {%- for childlink in link.links -%}
                                                                        <li>
                                                                            {%- if childlink.links == blank -%}
                                                                                <a href="{{ childlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                                                                    {{ childlink.title | escape }}
                                                                                </a>
                                                                            {%- else -%}
                                                                                <div id="Details-menu-drawer-submenu-{{ forloop.index }}">
                                                                                    <strong class="menu-drawer__menu-item link link--text list-menu__item">
                                                                                        {{ childlink.title | escape }}
                                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="8" height="5" viewBox="0 0 8 5" fill="none">
                                                                                            <path d="M0.70999 1.71L3.29999 4.3C3.68999 4.69 4.31999 4.69 4.70999 4.3L7.29999 1.71C7.92999 1.08 7.47999 0 6.58999 0H1.40999C0.51999 0 0.0799904 1.08 0.70999 1.71Z" fill="#454545"/>
                                                                                        </svg>
                                                                                    </strong>
                                                                                    <div class="menu-drawer__subnav">
                                                                                        <ul class="menu-drawer__menu list-menu" role="list">
                                                                                            {%- for grandchildlink in childlink.links -%}
                                                                                                <li>
                                                                                                    <a href="{{ grandchildlink.url }}" class="menu-drawer__menu-item link link--text list-menu__item{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                                                                        {{ grandchildlink.title | escape }}
                                                                                                    </a>
                                                                                                </li>
                                                                                            {%- endfor -%}
                                                                                        </ul>
                                                                                    </div>
                                                                                </div>
                                                                            {%- endif -%}
                                                                        </li>
                                                                    {%- endfor -%}
                                                                </ul>
                                                            </div>
                                                        </details>
                                                    {%- else -%}
                                                        <a href="{{ link.url }}" class="menu-drawer__custom-item menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                                                            {{ link.title | escape }}
                                                        </a>
                                                    {%- endif -%}
                                                </li>
                                            {%- endfor -%}
                                        </ul>
                                        {% form 'currency', class: "shopify-currency-form" %}
                                            <button class="btn btn-square-small currency-loading" type="submit" style="display:none;">
                                                <span class="fas fa-spinner fa-spin"></span>
                                            </button>
                                            <div class="currency-selector__arrow">
                                                <select name="currency" id="CurrencySelector" class=" select--small currency-selector{% if settings.currency_custom %} select-custom{% endif %}" aria-describedby="a11y-refresh-page-message a11y-selection-message" data-currency-selector>
                                                    {% for currency in shop.enabled_currencies %}
                                                        <option value="{{currency.iso_code}}"{% if currency == cart.currency %} selected="true"{% endif %}>
                                                            {{currency.iso_code}}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        {% endform %}
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </details>
                </header-drawer>
            {%- endif -%}



            {% assign numberSub = 0 %}

            {%- if section.settings.menu != blank -%}
                <nav class="header__inline-menu">
                    <ul class="list-menu list-menu--inline" role="list">
                        {%- for link in section.settings.menu.links limit:3 -%}
                            <li>
                                {%- if link.links != blank -%}
                                    <details-disclosure>

                                        <details id="Details-HeaderMenu-{{ forloop.index }}">
                                            <summary class="header__menu-item list-menu__item link focus-inset">
                                                <a class=" header__menu-item list-menu__item link link--text focus-inset {%- if link.active %} header__active-menu-item{% endif %}" href="{{ link.url }}">
                                                  <span>{{ link.title | escape }}
                                                  </span>
                                                </a>
                                            </summary>

                                            <div id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list" tabindex="-1">
                                                <div class="header__subbox container position--{%- for block in section.blocks offset: numberSub limit: 1 -%} {{block.settings.pos_id}} {%- endfor -%}">
                                                    <ul class="header__sublist">
                                                        {%- for childlink in link.links -%}
                                                            <li>
                                                                {%- if childlink.links == blank -%}
                                                                    <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                                                        {{ childlink.title | escape }}
                                                                    </a>
                                                                {%- else -%}
                                                                    <a href="{{ childlink.url }}" class="header__menu-item header__svg list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                                                        {{ childlink.title | escape }}
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8" fill="none">
                                                                            <path d="M1.71 7.28999L4.3 4.69999C4.69 4.30999 4.69 3.67999 4.3 3.28999L1.71 0.699994C1.08 0.069994 0 0.519994 0 1.40999L0 6.58999C0 7.47999 1.08 7.91999 1.71 7.28999Z" fill="#454545"/>
                                                                        </svg>
                                                                    </a>
                                                                    <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
                                                                        {%- for grandchildlink in childlink.links -%}
                                                                            <li>
                                                                                <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                                                    {{ grandchildlink.title | escape }}
                                                                                </a>
                                                                            </li>
                                                                        {%- endfor -%}
                                                                    </ul>
                                                                {%- endif -%}
                                                            </li>
                                                        {%- endfor -%}
                                                    </ul>
                                                    <div class="header__right">
                                                        {%- for block in section.blocks offset: numberSub limit: 1 -%}
                                                            {% if block.settings.product_one.title.size > 0 %}
                                                                <a href="{{block.settings.product_one.url}}" class="header-product">
                                                                    <div class="header-product__img" style="background-image: url('{{ block.settings.product_one.image | img_url: '578x' }}')"></div>
                                                                    <div class="header-product__info">
                                                                        <strong>{{block.settings.product_one.title}}</strong>
                                                                    </div>
                                                                </a>
                                                            {% endif %}
                                                            {% if block.settings.product_two.title.size > 0 %}
                                                                <a href="{{block.settings.product_two.url}}" class="header-product">
                                                                    <div class="header-product__img" style="background-image: url('{{ block.settings.product_two.image | img_url: '578x' }}')"></div>
                                                                    <div class="header-product__info">
                                                                        <strong>{{block.settings.product_two.title}}</strong>
                                                                    </div>
                                                                </a>
                                                            {% endif %}
                                                        {%- endfor -%}
                                                    </div>

                                                    {% assign numberSub = numberSub | plus: 1 %}

                                                </div>
                                            </div>
                                        </details>
                                    </details-disclosure>
                                {%- else -%}
                                    <a href="{{ link.url }}" class="{%- if link.current %} header__active-menu-item{% endif %} header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                                        <span>{{ link.title | escape }}</span>
                                    </a>
                                {%- endif -%}
                            </li>
                        {%- endfor -%}
                    </ul>
                </nav>
            {%- endif -%}

            <h1 class="header__heading">

                <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset descktop-logo">
                    {%- if section.settings.logo != blank -%}
                        {{section.settings.logo}}
                    {%- else -%}
                        <span class="h3">{{ shop.name }}</span>
                    {%- endif -%}
                </a>
                <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset mobile-logo">
                    {%- if section.settings.logo_mobile != blank -%}
                        {{section.settings.logo_mobile}}
                    {%- else -%}
                        <span class="h3">{{ shop.name }}</span>
                    {%- endif -%}
                </a>
            </h1>



            <div class="header__top-right d-flex w-100 justify-content-end">
                {%- if section.settings.menu != blank -%}
                    <nav class="header__inline-menu">
                        <ul class="list-menu list-menu--inline" role="list">
                            {%- for link in section.settings.menu.links offset:3 -%}
                                <li>
                                    {%- if link.links != blank -%}
                                        <details-disclosure>
                                            <details id="Details-HeaderMenu-{{ forloop.index }}">
                                                <summary class="header__menu-item list-menu__item link focus-inset">
                                                    <a class=" header__menu-item list-menu__item link link--text focus-inset {%- if link.active %} header__active-menu-item{% endif %}" href="{{ link.url }}">
                                                  <span>{{ link.title | escape }}
                                                  </span>
                                                    </a>
                                                </summary>

                                                <div id="HeaderMenu-MenuList-{{ forloop.index }}" class="header__submenu list-menu list-menu--disclosure caption-large motion-reduce" role="list" tabindex="-1">
                                                    <div class="header__subbox  position--{%- for block in section.blocks offset: numberSub limit: 1 -%} {{block.settings.pos_id}} {%- endfor -%}">
                                                        <ul class="header__sublist">
                                                            {%- for childlink in link.links -%}
                                                                <li>
                                                                    {%- if childlink.links == blank -%}
                                                                        <a href="{{ childlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                                                            {{ childlink.title | escape }}
                                                                        </a>
                                                                    {%- else -%}
                                                                        <a href="{{ childlink.url }}" class="header__menu-item header__svg list-menu__item link link--text focus-inset caption-large{% if childlink.current %} list-menu__item--active{% endif %}"{% if childlink.current %} aria-current="page"{% endif %}>
                                                                            {{ childlink.title | escape }}
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="5" height="8" viewBox="0 0 5 8" fill="none">
                                                                                <path d="M1.71 7.28999L4.3 4.69999C4.69 4.30999 4.69 3.67999 4.3 3.28999L1.71 0.699994C1.08 0.069994 0 0.519994 0 1.40999L0 6.58999C0 7.47999 1.08 7.91999 1.71 7.28999Z" fill="#454545"/>
                                                                            </svg>
                                                                        </a>
                                                                        <ul id="HeaderMenu-SubMenuList-{{ forloop.index }}" class="header__submenu list-menu motion-reduce">
                                                                            {%- for grandchildlink in childlink.links -%}
                                                                                <li>
                                                                                    <a href="{{ grandchildlink.url }}" class="header__menu-item list-menu__item link link--text focus-inset caption-large{% if grandchildlink.current %} list-menu__item--active{% endif %}"{% if grandchildlink.current %} aria-current="page"{% endif %}>
                                                                                        {{ grandchildlink.title | escape }}
                                                                                    </a>
                                                                                </li>
                                                                            {%- endfor -%}
                                                                        </ul>
                                                                    {%- endif -%}
                                                                </li>
                                                            {%- endfor -%}
                                                        </ul>
                                                        <div class="header__right">
                                                            {%- for block in section.blocks offset: numberSub limit: 1 -%}
                                                                {% if block.settings.product_one.title.size > 0 %}
                                                                    <a href="{{block.settings.product_one.url}}" class="header-product">
                                                                        {% if block.settings.text_one %}
                                                                            <span class="header-product__label" style="background-color: {{block.settings.color_one}} ;">{{block.settings.text_one}}</span>
                                                                        {% endif %}
                                                                        <div class="header-product__img" style="background-image: url('{{ block.settings.product_one.featured_media | img_url: 'medium' }}')"></div>
                                                                        <div class="header-product__info">
                                                                            <strong class="text-16px-all">{{block.settings.product_one.title}}</strong>
                                                                            <span class="text-14px-all">From {{block.settings.product_one.price | money_with_currency}}</span>
                                                                        </div>
                                                                    </a>
                                                                {% endif %}
                                                                {% if block.settings.product_two.title.size > 0 %}
                                                                    <a href="{{block.settings.product_two.url}}" class="header-product">
                                                                        {% if block.settings.text_two %}
                                                                            <span class="header-product__label" style="background-color: {{block.settings.color_two}} ;">{{block.settings.text_two}}</span>
                                                                        {% endif %}
                                                                        <div class="header-product__img" style="background-image: url('{{ block.settings.product_two.featured_media | img_url: 'medium' }}')"></div>
                                                                        <div class="header-product__info">
                                                                            <strong class="text-16px-all">{{block.settings.product_two.title}}</strong>
                                                                            <span class="text-14px-all">From {{block.settings.product_two.price | money_with_currency}}</span>
                                                                        </div>
                                                                    </a>
                                                                {% endif %}
                                                                {% if block.settings.article_id.title.size > 0 %}
                                                                    <a href="{{block.settings.article_id.url}}" class="header-article">
                                                                        <div class="header-article__img" style="background-image: url('{{ block.settings.article_id.image | img_url: 'large' }}')">
                                                                            {% for tag in block.settings.article_id.tags %}
                                                                                <span>{{ tag }}</span>
                                                                            {% endfor %}
                                                                        </div>
                                                                        <div class="header-article__info">
                                                                            <strong class="text-18px-all">{{block.settings.article_id.title}}</strong>
                                                                            <p class="text-16px-all">{{block.settings.article_id.excerpt}}</p>
                                                                        </div>
                                                                    </a>
                                                                {% endif %}
                                                            {%- endfor -%}
                                                        </div>

                                                        {% assign numberSub = numberSub | plus: 1 %}

                                                    </div>
                                                </div>
                                            </details>
                                        </details-disclosure>
                                    {%- else -%}
                                        <a href="{{ link.url }}" class="{%- if link.current %} header__active-menu-item{% endif %} header__menu-item header__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                                            <span>{{ link.title | escape }}</span>
                                        </a>
                                    {%- endif -%}
                                </li>
                            {%- endfor -%}
                        </ul>
                    </nav>
                {%- endif -%}
                <div class="header__icons">



                    <details-modal class="header__search">
                        <details>
                            <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="{{ 'general.search.search' | t }}">
                                <span>
                                    <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M9.66665 19.111C4.49742 19.111 0.333313 14.9469 0.333313 9.77767C0.333313 4.60844 4.49742 0.444336 9.66665 0.444336C14.8359 0.444336 19 4.60844 19 9.77767C19 14.9469 14.8359 19.111 9.66665 19.111ZM9.66665 1.88023C5.28716 1.88023 1.76921 5.39818 1.76921 9.77767C1.76921 14.1572 5.28716 17.6751 9.66665 17.6751C14.0461 17.6751 17.5641 14.1572 17.5641 9.77767C17.5641 5.39818 14.0461 1.88023 9.66665 1.88023Z" fill="#1E1E1E"/>
                                        <path d="M16.0883 15L23 21.9117L21.9117 23L15 16.0883L16.0883 15Z" fill="#1E1E1E"/>
                                    </svg>
                                  <svg class="modal__toggle-close icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                                    <use href="#icon-close">
                                  </svg>
                                </span>
                            </summary>
                            <div class="search-modal modal__content gradient" role="dialog" aria-modal="true" aria-label="{{ 'general.search.search' | t }}">
                                <div class="modal-overlay"></div>
                                <div class="search-modal__content{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} search-modal__content-top{% else %} search-modal__content-bottom{% endif %}" tabindex="-1">
                                    {%- if settings.predictive_search_enabled -%}
                                    <predictive-search class="search-modal__form" data-loading-text="{{ 'accessibility.loading' | t }}">
                                        {%- endif -%}
                                        <form action="{{ routes.search_url }}" method="get" role="search" class="search search-modal__form">
                                            <div class="field">
                                                <input class="search__input field__input"
                                                       id="Search-In-Modal"
                                                       type="search"
                                                       name="q"
                                                       value=""
                                                       placeholder="{{ 'general.search.search' | t }}"
                                                        {%- if settings.predictive_search_enabled -%}
                                                            role="combobox"
                                                            aria-expanded="false"
                                                            aria-owns="predictive-search-results-list"
                                                            aria-controls="predictive-search-results-list"
                                                            aria-haspopup="listbox"
                                                            aria-autocomplete="list"
                                                            autocorrect="off"
                                                            autocomplete="off"
                                                            autocapitalize="off"
                                                            spellcheck="false"
                                                        {%- endif -%}
                                                >
                                                <label class="field__label" for="Search-In-Modal">{{ 'general.search.search' | t }}</label>
                                                <input type="hidden" name="options[prefix]" value="last">
                                                <button class="search__button field__button" aria-label="{{ 'general.search.search' | t }}">
                                                    <svg class="icon icon-search" aria-hidden="true" focusable="false" role="presentation">
                                                        <use href="#icon-search">
                                                    </svg>
                                                </button>
                                            </div>

                                            {%- if settings.predictive_search_enabled -%}
                                                <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
                                                    <div class="predictive-search__loading-state">
                                                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                                                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                                                        </svg>
                                                    </div>
                                                </div>

                                                <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
                                            {%- endif -%}
                                        </form>
                                        {%- if settings.predictive_search_enabled -%}
                                    </predictive-search>
                                    {%- endif -%}
                                    <button type="button" class="search-modal__close-button modal__close-button link link--text focus-inset" aria-label="{{ 'accessibility.close' | t }}">
                                        <svg class="icon icon-close" aria-hidden="true" focusable="false" role="presentation">
                                            <use href="#icon-close">
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </details>
                    </details-modal>

                    <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart header__cart link focus-inset">
                        {% render 'icon-cart' %}
                        {%- if cart != empty -%}
                            <div class="cart-count-bubble show">
                                {%- if cart.item_count < 100 -%}
                                    <span class="count d-none" aria-hidden="true">{{ cart.item_count }}</span>
                                {%- endif -%}
                                <span class="count visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                            </div>
                        {% else %}
                            <div class="cart-count-bubble">
                                {%- if cart.item_count < 100 -%}
                                    <span class="count d-none" aria-hidden="true">{{ cart.item_count }}</span>
                                {%- endif -%}
                                <span class="count visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
                            </div>
                        {%- endif -%}
                    </a>



                </div>
            </div>


        </div>
    </header>
</{% if section.settings.enable_sticky_header %}sticky-header{% else %}div{% endif %}>

{% javascript %}
    class StickyHeader extends HTMLElement {
    constructor() {
    super();
    }

    connectedCallback() {
    this.header = document.getElementById('shopify-section-header');
    this.headerBounds = {};
    this.currentScrollTop = 0;
    this.preventReveal = false;
    this.predictiveSearch = this.querySelector('predictive-search');

    this.onScrollHandler = this.onScroll.bind(this);
    this.hideHeaderOnScrollUp = () => this.preventReveal = true;

    this.addEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
    window.addEventListener('scroll', this.onScrollHandler, false);

    this.createObserver();
    }

    disconnectedCallback() {
    this.removeEventListener('preventHeaderReveal', this.hideHeaderOnScrollUp);
    window.removeEventListener('scroll', this.onScrollHandler);
    }

    createObserver() {
    let observer = new IntersectionObserver((entries, observer) => {
    this.headerBounds = entries[0].intersectionRect;
    observer.disconnect();
    });

    observer.observe(this.header);
    }

    onScroll() {
    const scrollTop = window.pageYOffset || document.documentElement.scrollTop;

    if (this.predictiveSearch && this.predictiveSearch.isOpen) return;

    if (scrollTop > this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
    if (this.preventHide) return;
    requestAnimationFrame(this.hide.bind(this));
    } else if (scrollTop < this.currentScrollTop && scrollTop > this.headerBounds.bottom) {
    if (!this.preventReveal) {
    requestAnimationFrame(this.reveal.bind(this));
    } else {
    window.clearTimeout(this.isScrolling);

    this.isScrolling = setTimeout(() => {
    this.preventReveal = false;
    }, 66);

    requestAnimationFrame(this.hide.bind(this));
    }
    } else if (scrollTop <= this.headerBounds.top) {
    requestAnimationFrame(this.reset.bind(this));
    }

    this.currentScrollTop = scrollTop;
    }

    hide() {
    this.header.classList.add('shopify-section-header-hidden', 'shopify-section-header-sticky');
    this.closeMenuDisclosure();
    this.closeSearchModal();
    }

    reveal() {
    this.header.classList.add('shopify-section-header-sticky', 'animate');
    this.header.classList.remove('shopify-section-header-hidden');
    }

    reset() {
    this.header.classList.remove('shopify-section-header-hidden', 'shopify-section-header-sticky', 'animate');
    }

    closeMenuDisclosure() {
    this.disclosures = this.disclosures || this.header.querySelectorAll('header-menu');
    this.disclosures.forEach(disclosure => disclosure.close());
    }

    closeSearchModal() {
    this.searchModal = this.searchModal || this.header.querySelector('details-modal');
    this.searchModal.close(false);
    }
    }

    customElements.define('sticky-header', StickyHeader);
{% endjavascript %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": {{ shop.name | json }},
    {% if section.settings.logo %}
      "logo": {{ section.settings.logo | image_url: width: section.settings.logo.width | prepend: "https:" | json }},
    {% endif %}
    "sameAs": [
      {{ settings.social_twitter_link | json }},
      {{ settings.social_facebook_link | json }},
      {{ settings.social_pinterest_link | json }},
      {{ settings.social_instagram_link | json }},
      {{ settings.social_tiktok_link | json }},
      {{ settings.social_tumblr_link | json }},
      {{ settings.social_snapchat_link | json }},
      {{ settings.social_youtube_link | json }},
      {{ settings.social_vimeo_link | json }}
    ],
    "url": {{ request.origin | append: page.url | json }}
  }
</script>



{% schema %}

    {
    "name": "t:sections.header.name",
    "max_blocks": 1,
    "blocks": [
    {
    "type": "Image",
    "name": "Item nav",
    "settings": [
    {
        "type": "collection",
        "id": "product_one",
        "label": "Select first Collection"
    },
    {
        "type": "collection",
        "id": "product_two",
        "label": "Select second Collection"
    }
    ]
    }
    ],
    "settings": [
    {
        "type": "checkbox",
        "id": "enable_sticky_header",
        "default": true,
        "label": "t:sections.header.settings.enable_sticky_header.label",
        "info": "t:sections.header.settings.enable_sticky_header.info"
    },
    {
        "type": "html",
        "id": "logo",
        "label": "Select svg text descktop"
    },
    {
        "type": "html",
        "id": "logo_mobile",
        "label": "Select svg logo mobile"
    },
    {
        "type": "link_list",
        "id": "menu",
        "default": "main-menu",
        "label": "t:sections.header.settings.menu.label"
    }
    ]
    }

{% endschema %}
