<section class="product-reviews" >
  <div class="container">
    <div class="product-reviews__wrapper">
      <h2 class="h1 mt-0 text-center color-text">{{ section.settings.title }}</h2>
    </div>
    <div class="product-reviews__slider product-reviews-slider-init">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide product-reviews__item d-flex">
            <div class="product-reviews__item-img d-flex">
              <img class="" src="{{ block.settings.img | img_url: '450x' }}" alt="{{ block.settings.img.alt }}">
            </div>
            <div class="product-reviews__text">
              <svg class="" width="36" height="28" viewBox="0 0 36 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M3.166 25.642C1.106 23.454 0 21 0 17.022C0 10.022 4.914 3.748 12.06 0.645996L13.846 3.402C7.176 7.01 5.872 11.692 5.352 14.644C6.426 14.088 7.832 13.894 9.21 14.022C12.818 14.356 15.662 17.318 15.662 21C15.662 22.8565 14.9245 24.637 13.6117 25.9497C12.299 27.2625 10.5185 28 8.662 28C7.63532 27.991 6.62067 27.7779 5.67712 27.3731C4.73358 26.9683 3.87997 26.3798 3.166 25.642ZM23.166 25.642C21.106 23.454 20 21 20 17.022C20 10.022 24.914 3.748 32.06 0.645996L33.846 3.402C27.176 7.01 25.872 11.692 25.352 14.644C26.426 14.088 27.832 13.894 29.21 14.022C32.818 14.356 35.662 17.318 35.662 21C35.662 22.8565 34.9245 24.637 33.6117 25.9497C32.299 27.2625 30.5185 28 28.662 28C27.6353 27.991 26.6207 27.7779 25.6771 27.3731C24.7336 26.9683 23.88 26.3798 23.166 25.642Z" fill="#C2E4EE"/>
              </svg>
              <div class="color-text">{{ block.settings.text }}</div>
              <strong class="color-text">{{ block.settings.name }}</strong>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="product-reviews-swiper-pagination d-flex justify-content-center"></div>
    </div>

    <div class="product-reviews__mobile">
      {% for block in section.blocks %}
        <div class="product-reviews__item d-flex">
          <div class="product-reviews__item-img d-flex">
            <img class="" loading="lazy" src="{{ block.settings.img | img_url: '450x' }}" alt="{{ block.settings.img.alt }}">
          </div>
          <div class="product-reviews__text">
            <svg class="" width="36" height="28" viewBox="0 0 36 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M3.166 25.642C1.106 23.454 0 21 0 17.022C0 10.022 4.914 3.748 12.06 0.645996L13.846 3.402C7.176 7.01 5.872 11.692 5.352 14.644C6.426 14.088 7.832 13.894 9.21 14.022C12.818 14.356 15.662 17.318 15.662 21C15.662 22.8565 14.9245 24.637 13.6117 25.9497C12.299 27.2625 10.5185 28 8.662 28C7.63532 27.991 6.62067 27.7779 5.67712 27.3731C4.73358 26.9683 3.87997 26.3798 3.166 25.642ZM23.166 25.642C21.106 23.454 20 21 20 17.022C20 10.022 24.914 3.748 32.06 0.645996L33.846 3.402C27.176 7.01 25.872 11.692 25.352 14.644C26.426 14.088 27.832 13.894 29.21 14.022C32.818 14.356 35.662 17.318 35.662 21C35.662 22.8565 34.9245 24.637 33.6117 25.9497C32.299 27.2625 30.5185 28 28.662 28C27.6353 27.991 26.6207 27.7779 25.6771 27.3731C24.7336 26.9683 23.88 26.3798 23.166 25.642Z" fill="#C2E4EE"/>
            </svg>
            <div class="color-text">{{ block.settings.text }}</div>
            <strong class="color-text">{{ block.settings.name }}</strong>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
  {
  "name": "Product Real Reviews",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
    "name": "Item",
    "type": "text",
    "settings": [
      {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "name",
        "label": "Name"
      },
      {
        "type": "richtext",
        "id": "text",
        "label": "Review"
      }
  ]
  }
  ],
  "presets": [
  {
  "name": "Product Real Reviews",
  "category": "New"
  }
  ]
  }
{% endschema %}